.profileAvatar{
  margin-top: 30px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-page{
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
}

.top-menu{
  display: flex;
  /* margin-top: 5px; */
  justify-content: space-between;
}

#sighting-counts{
  text-decoration: underline;
}