.ref-body{
  position: fixed;
  top: 0;
  width: 100vw;
  /* text-align: center; */
}

.ref-dimensions, .sighting-btn{
  text-align: center;
}

.scientific{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
}

.no-top-margin{
  margin-top: 0px;
  margin-bottom: 10px;
}

.species-card{
  width: 82%;
  margin-left: auto;
  margin-right: auto;
}

.species-image{
  height: 220px;
  width: 322px;
  object-fit: cover;
  box-shadow: 1px 1px gray;
  padding-top: 0px;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}