.sighting-card{
  border-radius: 10px;
  padding: 10px;
  background-color: #1ea1c930;
  position: relative;
}

img{
  padding-top: 0px;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}

.post-info{
  display: flex;
}

.profile-img-small{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.name-date{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

h3{
  font-weight:bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
