.sighting-card{
  border-radius: 10px;
  padding: 10px;
  background-color: #1ea1c930;
  position: relative;
}

.card-img{
  padding-top: 0px;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  height: 220px;
  width: 322px;
  object-fit: cover;
  box-shadow: 1px 1px gray;
}

.post-info{
  display: flex;
}

.profile-img-small{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.name-date{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

h3{
  font-weight:bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
