.sighting-form{
  text-align: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.add-body{
  position: fixed;
  top: 0;
  width: 100vw;
}

.public-sighting-box{
  margin-left: auto;
  margin-right: auto;
}

.center-this{
  margin-left: auto;
  margin-right: auto;
}

.add-top-menu{
  display: flex;
  flex-direction: column;
  width: 100vw;
}