.detailed-sighting{
  width: 82%;
  margin-left: auto;
  margin-right: auto;
}

.detailed-page-body{
  padding-bottom: 100px;
}

.detail-sighting-image{
  height: 220px;
  width: 322px;
  object-fit: cover;
  box-shadow: 1px 1px gray;
  padding-top: 0px;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}

.detail-button-menu{
  display:flex;
  justify-content: space-between;
}