.detailed-sighting{
  width: 82%;
  margin-left: auto;
  margin-right: auto;
}

.detailed-page-body{
  padding-bottom: 100px;
}

.detail-sighting-image{
  height: 220px;
  width: 314px;
  object-fit: cover;
}

.detail-button-menu{
  display:flex;
  justify-content: space-between;
}