img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30%;
  max-width: 80%;
}

.squirrel{
  background-image: url(./LoginPage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}