.sightings-head{
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  padding-bottom: 10px;
}

.sightings-body{
  display: flex;
  flex-direction: column;
}

.sightings-feed{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 60px;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.toggle-btn{
  margin-top: 20px;
  margin-left: 20px;
}